.contacto main{
    font-size: larger;
    overflow-x: hidden;
    width: 100vw;
}

.contacto h2 {
    text-align: center;
    color:#00262B;
}

.contacto section {
    background: linear-gradient(140deg, rgba(0,38,43,1) 25%, rgba(6,102,114,1) 100%);
    width: 75vw;
    margin: 2% auto;
    padding: 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.contacto .form-contenedor{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* ---------------------------------FORMULARIO LADO IZQUIERDO (CONTACTO Y REDES)------------------ */
.contacto .datos-contacto{
    width: 50%;
    margin: 20px auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.contacto .datos-contacto #logo{
    transform: scale(1.5);
    margin: 0px auto 3% auto;
}

.contacto .datos-contacto>h3{
    margin-bottom: 20px;
}

.contacto .datos-contacto p{
    margin-top: 3%;
}

.contacto .form-contenedor p{
    font-size: medium;
}

.contacto .datos-contacto .redes{
    margin: 5% auto;
    transform: scale(1.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contacto .datos-contacto .redes ion-icon{
    color:white;
    transform: scale(1.4);
}

.contacto .datos-contacto .redes ion-icon:hover{
    color: #FBD63D;
}


/* ---------------------------------FORMULARIO LADO DERECHO (INPUTS Y TEXT-AREA)------------------ */

.contacto div.input-group {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color:#FBD63D;
}

.contacto section input{
    width: 100%;
    height: 26px;
    margin-bottom: 20px;
    margin: 5px 0;
    border-radius: 10px;
    background-color:#f1eeee;
    padding-left: 6px;
}

.contacto label{
    padding-top: 6px;
}

.contacto textarea{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 6px;
}

.contacto div.error-detail {
    color:rgb(169, 9, 9);
    font-size: medium;
    margin-bottom: 5px;
    height: auto;
    padding-left: 6px;
    padding-bottom: 3px;
    background-color: rgb(198, 120, 120);
    border-radius: 6px;
    text-transform: none;
    display: none;
}

/* ---------------------------------------BOTONES REESTABLECER Y ENVIAR---------------------------- */
.contacto .contenedor-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contacto .contenedor-btn input{
    padding: 0;
    width: 125px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(20, 133, 20);
    color:white;
    box-shadow: 2px 2px 2px #00262B;
    border:none;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 10px auto;  
    cursor: pointer;  
    transition: 0.2s;
}
.contacto input[value="Restablecer"]{
    background-color: crimson;
    color: white;
}

.contacto .contenedor-btn input:active {
    transform: scale(0.9);
}

/* --------------------------------------MEDIAQUERY DE FORULARIO DE CONTACTO---------------------- */
@media (width <=750px) {
    .contacto section{
        margin: 2% auto;
        overflow-x: hidden;
        flex-direction: column;
        width: 95vw;
    }
    .contacto .form-contenedor{
        width: 100%;
    }
    .contacto .datos-contacto{
        width: 100%;
    }
    .contacto .redes{
        width: 130px;
    }
    .contacto .datos-contacto>h3{
        font-size: large;
    }
    .contacto .datos-contacto, form label{
        font-size: medium;
    }
    .contacto main,
    .contacto .form-contenedor p,
    .contacto div.error-detail{
        font-size: smaller;
    }
    .contacto .contenedor-btn{
        flex-direction: column;
    }
}